<h1>Editing Book</h1>

<%= form_with model: @book, url: book_path(@book.id), method: :patch, local: true do |f| %>
  <div>Title</div>
  <%= f.text_field :title %>

  <div>Body</div>
  <%= f.text_area :body %>

  <div><%= f.submit 'Update Book' %></div>

<% end %>

<span> <%= link_to "Show", "/books/#{@book.id}" %></span>
|
<span><%= link_to "Back", "/books" %></span>

